body {
    background-color: darkslateblue;
}
  
h1 {
    color: lightgrey;
    text-align: center;
    font-family: sans-serif;
}

p {
    color: white;
    text-align: center;
    font-family: sans-serif;
}